# Bicker UPS server service for systemd

[Unit]
Description= Bicker UPS websocket server
Documentation=
Wants=network.target
After=network.target
After=sockets.target

[Service]
User=ups
ExecStart=/opt/ups-server/ups-server
Type=simple
Restart=always
RestartSec=30
Nice=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
